// Custom styles.
//覆盖首页post高度样式
.page-home .posts-expand .post { margin-top:0px; overflow:hidden;}
.page-home .posts-expand .post  .post-body{display:none}
.powered-by{display: none}
.theme-info{display: none}
.footer{ min-height: 0px;max-height: 25px }
